.about {
    padding-top: 100px;
    padding-bottom: 50px;

    &__title {
        color: #2887D9;
        font-family: "Open Sans";
        font-size: 48px;
        font-weight: 600;
        line-height: 0.91;
    }
}