.hero {
    padding-top: 285px;
    padding-bottom: 69px;
    position: relative;

    &__title {
        color: $blue-text-color;
        font-family: Montserrat;
        font-size: 140px;
        font-weight: 300;
        line-height: 0.45;
        margin-bottom: 40px;
    }

    &__text {
        color: $blue-text-color;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 400;
        line-height: 1.83;
        margin-bottom: 80px;
    }

    &__btn {
        color: $white-input;
        font-family: "Open Sans";
        font-size: 32px;
        font-weight: 400;
        line-height: 1.37;
        width: 636px;
        height: 80px;
        padding: 20px;
        background-color: $blue-text-color;
        border-radius: 50px;
        border: none;
    }

    &__img {
        position: absolute;
        right: 159px;
        top: 193px;
    }

    &__svg {
        color: aqua;
    }
}