.questions {
    padding-top: 24px;
    padding-bottom: 93px;
    @media screen and (min-width: 1306px) {
            
    }

      @media screen and (min-width: 1740px) {
       padding-top: 24px;
       padding-bottom: 93px;
      }



&__title {
    color: #2887D9;
    font-weight: 600;
    line-height: 44px; 
    margin-bottom: 74px;
    font-family: "Open Sans";
    font-size: 48px;
    font-style: normal;
    @media screen and (min-width: 1306px) {
        font-size: 34px;
        margin-bottom: 24px;
     }

       @media screen and (min-width: 1740px) {
        margin-bottom: 74px;
        font-size: 48px;
       }


}

&__element {
    color: #3A3B3D;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; 
    font-family: "Open Sans";
    font-size: 32px;

    @media screen and (min-width: 1306px) {
        font-size: 23px;
        font-weight: 600;
        width: 224px;
     }

       @media screen and (min-width: 1740px) {
        font-size: 32px;
        line-height: 44px;
        width: 291px;
       }
}



&__part {
    margin-bottom: 64px;
    border-bottom: solid #2887D9 1px;
    width: 1052px;
    padding-bottom: 32px;

    @media screen and (min-width: 1306px) {
        margin-bottom: 24px;
        padding-bottom: 24px;
        width: 748px;
     }

       @media screen and (min-width: 1740px) {
        margin-bottom: 32px;
        padding-bottom: 32px;
        width: 1052px;
       }
}


&__question {
    color: #2887D9;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "Open Sans";
    font-size: 32px;

    @media screen and (min-width: 1306px) {
        font-size: 23px;
     }

       @media screen and (min-width: 1740px) {
        font-size: 32px;
       }
}

&__div {
    display: flex;
}

&__plus {
    fill: #0052B4;
}

&__icons {
    fill: transparent;
    stroke: #2887D9;
    margin-bottom: 16px;
    @media screen and (min-width: 1306px) {
        width: 30px; 
        height: 30px;
        font-size: 23px;
        margin-right: 24px;
     }

       @media screen and (min-width: 1740px) {
        width: 41px; 
        height: 42px;
        margin-right: 32px;
       }

}

&__roll {
    display: flex;
    flex-direction: column;
    width: 449px;
    height: 1466px;
    padding: 56px;
    margin-right: 125px;
    gap: 56px;
    border-radius: 50px;
    background: #F3DCDC;

}



}

@media screen and (min-width: 1334px) {

}

@media screen and (min-width: 1766px) {}