.reviews {
    background-color: #ECEFF7;
    padding-bottom: 23px ;



    &__catalog {
        margin-bottom: 53px;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        flex-direction: column;
        gap: 25px;


    
        @media screen and (min-width:1334px) {
            flex-direction: column;
            gap: 35px;
            margin-bottom: 0;
         }
    
         @media screen and (min-width:1766px) {
            gap: 50px;
         }
    }


    &__photos{
        position: absolute;
        max-height: 193px;
        z-index: 1;
        margin-top: 30px;

        max-width: 189px;

        @media screen and (min-width:1334px) {
            width: 140px;
            height: 140px;
            margin-top: 51px;
        }

        @media screen and (min-width:1766px) {
            max-width: 189px;
            max-height: 193px;
            margin-top: 72px;
        }
    }

    &__text {
        font-family: "Open Sans";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--gray-maintext, #3A3B3D);


        @media screen and (min-width:1334px) {
            font-size: 23px;
        }

        @media screen and (min-width:1766px) {
            font-size: 32px;

        }
    }

    &__title {
        margin-bottom: 23px;
        color: var(--blue-dark-blue, #2887D9);
        font-family: "Open Sans";
        font-size: 16px;

        font-style: normal;
        font-weight: 600;
        line-height: 44px; 


        @media screen and (min-width:1334px) {
           margin-bottom: 24px;
           font-size:35px ;
        }

        @media screen and (min-width:1766px) {
            margin-bottom: 100px;
            font-size: 48px;
        }
    }

    &__photo{
        height: 80px;
        z-index: 1;
        margin-top: 30px;

        position: absolute;
        width: 78px;

        @media screen and (min-width:1334px) {
            width: 140px;
            height: 140px;
            margin-top: 51px;
        }

        @media screen and (min-width:1766px) {
            width: 189px;
            height: 193px;
            margin-top: 72px;
        }
    }
    &__divt {
        background: #F2F3F5;
        margin-left: 61px;
        position: relative;
        padding: 15.677px 16.089px 34.588px 33.004px;
        border-radius: 20.627px;
        width: 280px;
        height: 140px;

        border: 1px solid var(--blue-blue, #72B7F2);

 
        @media screen and (min-width:1334px) {
            padding: 27.035px 27.955px 59.965px 56.917px;
            margin-left: 106px;
            border-radius: 40px;
            width: 484px;
            height: 242px;

        }

        @media screen and (min-width:1766px) {
            padding: 38px 39px 38px 80px; 
            margin-left: 149px;
            border-radius: 50px;
            height: 340px;
            width: 680px;

        }
    }

    &__icons {
        width: 52px;
        fill: #D0E1F1;
        transform: rotate(180deg);
        height: 52px;
        margin-left: 458px;


        @media screen and (min-width:1766px) {
            display: block;
         }
     

    }

    &__icon {
        fill: #2887D9;
        width: 52px;
        height: 52px;
        margin-left: 458px;
        @media screen and (min-width:1334px) {
            display: block;
        }
    }

    
    &__svg {
        width: 153px;
        height: 150.529px;

        @media screen and (min-width:1334px) {
            width: 528px;
            height: 520px;
        }

        @media screen and (min-width:1766px) {
            width: 743px;
            height: 731px;
        }

        
       
    }




    



    &__rosters {
        display: flex;
        flex-direction: column;
    
        @media screen and (min-width:1334px) {
            flex-direction: row;
        }
    }


}

