<section class="doctor">
  <div class="container">
    

    <ul class="doctor__lists">
      <h2 class="doctor__title">Лікарі</h2>
      <li class="doctor__itemts">
        <h3 class="doctor__text">+100</h3>
        <p class="doctor__text2">досвідчених лікарів</p>
      </li>
      <li class="doctor__itemts2">
        <h3 class="doctor__mintext"><span class="doctor__namber">35</span> років</h3>
        <p class="doctor__text3">середній стаж</p>
      </li>
    </ul>
    <button class="doctor__button">Знайти лікаря</button>

    <ul class="doctor__list">
      <li class="doctor__item1"><img src="../img/desktop/doctors1@1x-desktop.webp" alt="doctor" class="doctor__img" /></li>
      <li class="doctor__item2"><img src="../img/desktop/doctors2@1x-desktop.webp" alt="doctor" class="doctor__img" /></li>
      <li class="doctor__item3"><img src="../img/desktop/doctors3@1x-desktop.webp" alt="doctor" class="doctor__img" /></li>
    </ul>
  </div>
</section>
