<section class="doctor">
<div class="container">

<h2 class="doctor__title">Лікарі</h2>


<p class="doctor__text">+100 </p>
<p class="doctor__text2"> досвідчених лікарів</p>


<p class="doctor__text"> 35 років</p>
<p class="doctor__text2"> середній стаж</p>

<button class="doctor__button">Знайти лікаря</button>

<ul class="doctor__list">
    <li class="doctor__item1"><img src="" alt="" class="doctor__img"></li>
    <li class="doctor__item2"><img src="" alt="" class="doctor__img"></li>
    <li class="doctor__item3"><img src="" alt="" class="doctor__img"></li>
</ul>
</div>
</section>