<footer class="footer">
    <div class="container">
      <div class="footer__div">
        <ul class="footer__rosters">
          <li class="footer__roster">
            <svg class="footer__icons" width="60" height="60">
              <use href=""></use>
            </svg>
            <h3 class="footer__connections">Адреса:</h3>
            <p class="footer__text">м.Львів, проспект Відродження, 121</p>

          </li>
          <li class="footer__roster">
            <svg class="footer__icons" width="60" height="60"> 
              <use href=""></use>
            </svg>
            <h3 class="footer__connections">Email:</h3>
            <a href="mailto:evidence.ua@gmail.com" class="footer__email"
              >evidence.ua@gmail.com</a>

          </li>
          <li class="footer__roster">
            <svg class="footer__icons" width="60" height="60">
              <use href=""></use>
            </svg>
            <h3 class="footer__connections">Телефон:</h3>
            <p class="footer__text">(800) 000 00 00</p>
          </li>

        </ul>
        <ul class="footer__schedules">
          <li class="footer__schedule">
            <a href="" class="footer__svg">
              <svg class="footer__favor" width="60" height="60">
                <use href=""></use>
              </svg>
            </a>
          </li>

          <li class="footer__schedule">
            <a href="" class="footer__svg">
              <svg class="footer__favor" width="60" height="60">
                <use href=""></use>
              </svg>
            </a>
          </li>

          <li class="footer__schedule">
            <a href="" class="footer__svg">
              <svg class="footer__favor" width="60" height="60">
                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__information">
        <div class="footer__hospital">
          <h3 class="footer__infirmary">Наша клініка</h3>
          <ul class="footer__info">
            <li class="footer__unit">
              більше 10 років турбуємось про Ваше здоров'я
            </li>
            <li class="footer__unit">клініка для дітей</li>
            <li class="footer__unit">найбільший медичний центр в області</li>
            <li class="footer__unit">широкий спектр послуг</li>
            <li class="footer__unit">всі види щеплень</li>
          </ul>
        </div>
        <ul class="footer__cataloge">
          <li class="footer__services">
            <h3 class="footer__crosshead">Навігація</h3>
            <ul class="footer__sced">
              <li class="footer__service">
                <a href="" class="footer__treatment">Головна</a>
              </li>
              <li class="footer__service">
                <a href="" class="footer__treatment">Про клініку</a>
              </li>
              <li class="footer__service">
                <a href="" class="footer__treatment">Лікарі</a>
              </li>
              <li class="footer__service">
                <a href="" class="footer__treatment">Послуги</a>
              </li>
              <li class="footer__service">
                <a href="" class="footer__treatment">FAQ</a>
              </li>
              <li class="footer__service">
                <a href="" class="footer__treatment">Відгуки</a>
              </li>
            </ul>
          </li>
          <li class="footer__servicesservices">
            <h3 class="footer__crosshead">Наші послуги</h3>
            <ul class="footer__sced">
              <li class="footer__service">
                <a href="" class="footer__treatment">Педіатрія</a>
              </li>

              <li class="footer__service">
                <a href="" class="footer__treatment">Щеплення</a>
              </li>

              <li class="footer__service">
                <a href="" class="footer__treatment">Діагностика</a>
              </li>

              <li class="footer__service">
                <a href="" class="footer__treatment">Вузькі спеціалісти</a>
              </li>

              <li class="footer__service">
                <a href="" class="footer__treatment">Стоматологія</a>
              </li>

              <li class="footer__service">
                <a href="" class="footer__treatment">Лабораторія</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  