<header class="header">
    <div class="container">
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="">Про нас</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="../doctors.html">Лікарі</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="">Вартість</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="">Запитання</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="">Відгуки</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="">Контакти</a>
            </li>
        </ul>

        <button type="button" class="header__menu" data-menu-open>
            <svg class="header__icon">
                <use href="./img/symbol-defs.svg#menu"></use>
            </svg>
        </button>

    </div>
</header>