<header class="header">
    <div class="container header__container">

        <button type="button" class="header__menu" data-menu-open>
            <svg class="header__icon">
                <use href="./img/symbol-defs.svg#menu"></use>
            </svg>
        </button>

        <svg class="header__icons">
            <use href="../img/symbol-defs.svg#logo"></use>
        </svg>



        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="../index.html">Про нас</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="../doctors.html">Лікарі</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="">Вартість</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="">Запитання</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="">Відгуки</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="">Контакти</a>
            </li>
        </ul>

        <!-- <button type="button" class="header__profile">
            <svg class="header__prof" width="42" height="42">
                <use href="./img/symbol-defs.svg#profile"></use>
            </svg>
        </button> -->

    </div>
</header>