<section class="hero">
    <div class="container">
        <h1 class="hero__title">Evidence</h1>
        <p class="hero__text"> Територія сучаної педіатрії - доказ нашої любові</p>
        <button class="hero__btn">Записатись на прийом</button>
        <img class="hero__img" src="../img/desktop/hero-img-desktop@1x.png" alt="">
        <ul>
            <li>
                <svg>
                    <use></use>
                </svg>
            </li>
            <li>
                <svg>
                    <use></use>
                </svg>
            </li>
            <li>
                <svg class="hero__svg">
                    <use href="../img/symbol-defs.svg#wallet"></use>
                </svg>
            </li>
        </ul>

    </div>
</section>