<div class="backdrops is-hidden" data-menu>
    <div class="menu">

        <div class="menu__box">
            <button data-menu-close>
                <svg class="menu__menu">
                    <use href="../img/symbol-defs.svg#close-menu"></use>
                </svg>
            </button>
            <svg class="menu__search">
                <use href="../img/symbol-defs.svg#search"></use>
            </svg>
        </div>

        <div class="menu__container">
            <ul class="menu__lists">
                <li>
                    <svg class="menu__profile">
                        <use href="../img/symbol-defs.svg#profile"></use>
                    </svg>
                    <p>Увійти</p>
                </li>
                <li>

                </li>
            </ul>
            <button>
                <svg class="menu__profile">
                    <use href="../img/symbol-defs.svg#global"></use>
                </svg>
            </button>
            <p>Укр / Eng</p>
        </div>

    </div>
</div>