 <!-- <section class="modal">
    <div class="container">
        <h1 class="modal__title">Послуги та вартість</h1>
        <div class="modal__slider">
            <input type="radio" name="slide" id="slide1" checked> 
            <input type="radio" name="slide" id="slide2">
            <input type="radio" name="slide" id="slide3">
            <input type="radio" name="slide" id="slide4">

            <ul class="modal">
                <li >
                    <svg width="94" height="100" class="modal__icon">
                        <use href="../img/symbol-defs.svg#arrowdown"></use>
                    </svg>
                    <p ">Педіатрія</p>
                </li>
                <li >
                    <svg width="95" height="100" class="modal__icon">
                        <use href="../img/symbol-defs.svg#arrowdown"></use>
                    </svg>
                    <p ">Вакцинація</p>
                </li>
                <li >
                    <svg width="100" height="100" class="modal__icon">
                        <use href="../img/symbol-defs.svg#arrowdown"></use>
                    </svg>
                    <p ">Ортопед</p>
                </li>
                <li >
                    <svg width="100" height="100" class="modal__icon">
                        <use href="../img/symbol-defs.svg#arrowdown"></use>
                    </svg>
                    <p ">Гастроентеролог</p>
                </li>
                <li >
                    <svg width="100" height="88" class="modal__icon">
                        <use href="../img/symbol-defs.svg#arrowdown"></use>
                    </svg>
                    <p ">Стоматолог</p>
                </li>
                <li >
                    <svg width="90" height="100" class="modal__icon">
                        <use href="../img/symbol-defs.svg#arrowdown"></use>
                    </svg>
                    <p ">Нефролог</p>
                </li>
                <li >
                    <svg width="100" height="100" class="modal__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-heart"></use>
                    </svg>
                    <p ">Кардіолог</p>
                </li>
                <li >
                    <svg width="65" height="100" class="modal__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-Kidney"></use>
                    </svg>
                    <p ">Уролог</p>
                </li>
                <li >
                    <svg width="85" height="90" class="modal__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-laboratory"></use>
                    </svg>
                    <p ">Лабораторія</p>
                </li>
                <li >
                    <svg width="80" height="80" class="modal__icon">
                        <use href="./../../image/icons/symbol-defs.svg#icon-arrowright"></use>
                    </svg>
                    <p ">Дивитись ще</p>
                </li>
            </ul>
            <div>
                <label for="slide1""></label>
                <label for="slide2""></label>
                <label for="slide3""></label>
                <label for="slide4""></label>
            </div>
        </div>
    </div>


     <div >
        <button  type="button" data-modal-close></button>
        <h1 >Вакцинація</h1>
        <ul>
            <li ">
                <h2 >Назва перпарату</h2>
                <p>Вартість</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p>1980 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p>2457 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p>2680 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p>1800 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p>1980 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p>2457 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p>2680 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p>1800 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p>1980 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p>2457 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p>2680 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p>1800 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)</h2>
                <p>1980 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від гепатиту А (Хаврикс)</h2>
                <p>2457 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація від ротавірусної інфекції (Ротарикс)</h2>
                <p>2680 грн</p>
            </li>
            <li>
                <h2 class="modal__modal-subtitle">Вакцинація Превенар (від пневмококової інфекції)</h2>
                <p>1800 грн</p>
            </li>
        </ul>
    </div> 

    
</section> 
-->
