<section class="portfolio">
  <div class="container">
    <h2 class="portfolio__title">Лікарі</h2>
    <input
      placeholder="Шукати ім’я, професію"
      type="text"
      class="portfolio__input"
    />
    <ul class="portfolio__ways">
      <li class="portfolio__way">
        <a href="" class="portfolio__addressing">Головна</a>
      </li>
      <li class="portfolio__way">
        <svg class="portfolio__icon" width="20" height="20">
          <use href=""></use>
        </svg>
      </li>
      <li class="portfolio__way">
        <a href="" class="portfolio__addressing portfolio__addressing--checked"
          >Знайти лікаря</a
        >
      </li>
    </ul>
    <ul class="portfolio__profs">
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Всі лікарі</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Педіатри</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Хірург</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Кардіолог</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Невролог</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Гастроентеролог</a>
      </li>
      <li class="portfolio__prof">
        <a href="" class="portfolio__link">Інфекціоніст</a>
      </li>
    </ul>
    <ul class="portfolio__list">
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor1" />

            <h3 class="portfolio__subtitle">Ткачук Олег Миколайович</h3>
            <p class="portfolio__desc">Кардіолог</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor2" />

            <h3 class="portfolio__subtitle">Демчишин Ярослав Павлович</h3>
            <p class="portfolio__desc">Інфекціоніст</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor3" />

            <h3 class="portfolio__subtitle">Тригуб Анна Вадимівна</h3>
            <p class="portfolio__desc">Педіатр</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor4" />
            <h3 class="portfolio__subtitle">Дронь Алла Сергіївна</h3>
            <p class="portfolio__desc">Невролог</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor5" />
            <h3 class="portfolio__subtitle">Пархомчук Альона Василівна</h3>
            <p class="portfolio__desc">Педіатр</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor6" />

            <h3 class="portfolio__subtitle">Білошицька Анна Олександрівна</h3>
            <p class="portfolio__desc">Консультант з грудного вигодовування</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor7" />

            <h3 class="portfolio__subtitle">Шевчук Ірина Михайлівна</h3>
            <p class="portfolio__desc">Дитяча лікарка УЗД</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor8" />
            <h3 class="portfolio__subtitle">Ткачук Олег Миколайович</h3>
            <p class="portfolio__desc">Кардіолог</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor9" />
            <h3 class="portfolio__subtitle">Маліновський Дмтро Сергійович</h3>
            <p class="portfolio__desc">Вертерболог</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor10" />
            <h3 class="portfolio__subtitle">Вовк Анатолій Вікторович</h3>
            <p class="portfolio__desc">Лікар УЗД</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            <img class="portfolio__photo" alt="doctor11" />
            <h3 class="portfolio__subtitle">Янощук Ольга Василівна</h3>
            <p class="portfolio__desc">Педіатр</p>
          </article>
        </button>
      </li>
      <li class="portfolio__item">
        <button class="portfolio__btn">
          <article class="portfolio__article">
            
              <img
                class="portfolio__photo"
                alt="doctor12"
                />
            <h3 class="portfolio__subtitle">Ямкова Ольга Олександрівна</h3>
            <p class="portfolio__desc">Гастроентеролог</p>
          </article>
        </button>
      </li>
    </ul>
    <button class="portfolio__more">
      Дивитись ще
      <svg class="portfolio__reload" width="20" height="20">
        <use href=""></use>
      </svg>
    </button>
  </div>
</section>
