<section class="questions">
  <div class="container">
    <h2 class="questions__title">Питання-відповідь</h2>
    <div class="questions__div">
      <div class="questions__case">
      <ul class="questions__rosters">
        <li class="questions__roster">
          <button class="questions__button">Загальні питання</button>
        </li>

        <li class="questions__roster">
          <button class="questions__button">Реєстрація та вхід</button>
        </li>
        <li class="questions__roster">
          <button class="questions__button">Вакцинація</button>
        </li>

        <li class="questions__roster">
          <button class="questions__button">Відео-консультація</button>
        </li>

      </ul>
      <svg class="questions__circles" width="430" height="934">
        <use href=""></use>
      </svg>
    </div>
    <div class="questions__effect"> 
      <ul class="questions__roll">
        <li class="questions__elemeent">
          <h3 class="questions__request">1. Як записатись до лікаря самостійно?</h3>
          <svg class="faq__plus" width="22" height="22">
            <use href=""></use>
          </svg>
        </li>

        <li class="questions__elemeent">
          <h3 class="questions__request">
            2. Як записатись до лікаря за направленням?
          </h3>
          <svg class="questions__icon" width="22" height="22">
            <use href=""></use>
          </svg>
        </li>

        <li class="questions__elemeent">
          <h3 class="questions__request">3. Як скасувати запис?</h3>
          <svg class="questions__icon" width="22" height="22">
            <use href=""></use>
          </svg>
        </li>

        <li class="questions__elemeent">
          <h3 class="questions__request">4. Як переглянути запис на прийом?</h3>
          <svg class="questions__icon" width="22" height="22">
            <use href=""></use>
          </svg>
        </li>
        <li class="questions__elemeent">
          <h3 class="questions__request">5. Як залишити відгук про лікаря?</h3>
          <svg class="questions__icon" width="22" height="22">
            <use href=""></use>
          </svg>
        </li>

        <li class="questions__elemeent">
          <h3 class="questions__request">6. Як змінити особисті дані?</h3>
          <svg class="questions__icon" width="22" height="22">
            <use href=""></use>
          </svg>
        </li>

      </ul>
    </div>
  </div>
</div>
</section>
  