<section class="questions">
    <div class="container">
        <h1 class="questions__title">Питання-відповідь</h1>
        <div class="questions__div">
            <div class="questions__roll">
                <a href="" class="questions__element">Загальні питання</a>
                <a href="" class="questions__element">Реєстрація та вхід</a>
                <a href="" class="questions__element">Вакцинація</a>
                <a href="" class="questions__element">Відео-консультація</a>
                <svg class="questions__icons">
                    <use href="../img/symbol-defs.svg#arrowdown"></use>
                </svg>
            </div>
        
            <div class="questions__quest">
                <ul class="questions__rosters">
                    <li class="questions__part">
                        <a href="" class="questions__question">1. Як записатись до лікаря самостійно?</a>
                        <svg class="questions__plus" width="15" height="15">
                            <use href="../img/symbol-defs.svg#plus"></use>
                          </svg>
                    </li>
                    <li class="questions__part">
                        <a href="" class="questions__question">2. Як записатись до лікаря за направленням?</a>
                        <svg class="questions__plus" width="15" height="15">
                             <use href="../img/symbol-defs.svg#plus"></use>
                          </svg>
                    </li>
                    <li class="questions__part">
                        <a href="" class="questions__question">3. Як скасувати запис?</a>
                        <svg class="questions__plus" width="15" height="15">
                             <use href="../img/symbol-defs.svg#plus"></use>
                          </svg>
                    </li>
                    <li class="questions__part">
                        <a href="" class="questions__question">4. Як переглянути запис на прийом?</a>
                        <svg class="questions__plus" width="15" height="15">
                             <use href="../img/symbol-defs.svg#plus"></use>
                          </svg>
                    </li>
                    <li class="questions__part">
                        <a href="" class="questions__question">5. Як залишити відгук про лікаря?</a>
                        <svg class="questions__plus" width="15" height="15">
                             <use href="../img/symbol-defs.svg#plus"></use>
                          </svg>
                    </li>
                    <li class="questions__part">
                        <a href="" class="questions__question">6. Як змінити особисті дані?</a>\
                        <svg class="questions__plus" width="15" height="15">
                             <use href="../img/symbol-defs.svg#plus"></use>
                          </svg>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>