<section class="qestion" id="questions">
    <div class="container qestion__art-wrapper">
        <h1 class="qestion__title">Питання-відповідь</h1>
        <div class="qestion__wrapper">
            <div class="qestion__first-link">
                <h1 class="qestion__title-first">Питання-відповідь</h1>
                <a href="" class="qestion__link">Загальні питання</a>
                <a href="" class="qestion__link">Реєстрація та вхід</a>
                <a href="" class="qestion__link">Вакцинація</a>
                <a href="" class="qestion__link">Відео-консультація</a>
                <svg class="qestion__icon" width="153" height="151">
                    <use href="./img/symbol-defs.svg#reviews-circles"></use>
                  </svg>
            </div>
        
            <div class="qestion__open">
                <ul class="qestion__open-list">
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb1">
                        <label for="cb1" class="qestion__subtitle qestion__open-link"> 1. Як записатись до лікаря самостійно?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <ul class="qestion__choice-list">
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb2">
                        <label for="cb2" class="qestion__subtitle qestion__open-link"> 2. Як записатись до лікаря за направленням?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <ul class="qestion__choice-list">
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb3">
                        <label for="cb3" class="qestion__subtitle qestion__open-link"> 3. Як скасувати запис?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <ul class="qestion__choice-list">
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb4">
                        <label for="cb4" class="qestion__subtitle qestion__open-link"> 4. Як переглянути запис на прийом?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <ul class="qestion__choice-list">
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb5">
                        <label for="cb5" class="qestion__subtitle qestion__open-link"> 5. Як залишити відгук про лікаря?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <ul class="qestion__choice-list">
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="qestion__open-item">
                        <input class="qestion__input" type="checkbox" name="qestion__accordion" id="cb6">
                        <label for="cb6" class="qestion__subtitle qestion__open-link"> 6. Як змінити особисті дані?</label>
                        <div class="qestion__paragraph qestion__open-linkks">
                            <ul class="qestion__choice-list">
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">У розділі “Лікарі” оберіть потрібного лікаря.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Натисніть на кнопку “Записатись на прийом”.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати зручну для вас дату, клікнути на кнопку "Записатись на прийом".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Обрати вільний час прийому.</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Клікнути на кнопку "Записатись на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести номер телефону, вказаний при реєстрації, та натиснути "Далі".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Ввести пароль та натиснути кнопку "Вхід".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">При виборі кого записати на прийом, з випадаючого списку натиснути варіант "Записати дитину...." та натиснути на кнопку "Записатися на обраний час".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text">Дочекатися повідомлення "Запис на прийом здійснено успішно".</p>
                                </li>
                                <li class="qestion__choice-item">
                                    <p class="qestion__choice-text"> Переглянути створений візит в особистому кабінеті: "Візити" – "Заплановані".</p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
