<section class="registration">
  <div class="container registration__container">
    <div class="registration__photod"> 
      <picture>
        <source srcset="../img/desktop/portfolio-help@1x-desktop.webp 1x, ../img/desktop/portfolio-help@2x-desktop.webp 2x" media="(min-width: 1280px)">
        <source srcset="../img/tablet/registration/registration-photo@1x-tablet.webp 1x, ../img/tablet/registration/registration-photo@2x-tablet.webp 2x" media="(min-width: 736px)">
        <source srcset="../img/mobile/registration/hero-photo@1x-mobile.webp ../img/mobile/registration/hero-photo@2x-mobile.webp" media="(min-width: 310px)">
        <img class="registration__photo" src="../img/desktop/portfolio-help@1x-desktop.webp" alt="" />
      </picture>
    </div>
    <div class="registration__div">
      <h2 class="registration__title">Допоможемо знайти лікаря</h2>
    <ul class="registration__roll">
      <li class="registration__element">
        <form class="registration__form">
          <input
            type="text" class="registration__input" placeholder="Як до вас звернутись?" required/>
        </form>
      </li>
      <li class="registration__element">
        <form class="registration__form">
          <input type="tel" class="registration__input" placeholder="+380(___) ___ -__-__" required/>
        </form>
      </li>
    </ul>
    <p class="registration__text">Як з вами краще зв’язатися?    </p>
    <form action="" class="registration__transmit">
      <div class="registration__select">
        <input type="radio" class="registration__embrace" id="registration__embrace" required>
      <label for="#registration__embrace" class="registration__label">Напишіть мені на Viber</label>
      <input type="radio" class="registration__embrace" id="registration__embracec" required>
      <label for="#registration__embracec" class="registration__label">Подзвоніть мені</label>
      </div>
      <button class="registration__button" type="submit">Відправити</button>
    </form>
    </div>
  </div>
</section>