<section class="reviews">
    <h1 class="reviews__title">Що говорять наші клієнти</h1>
    <div class="rewiews__comments">
        <div class="reviews__comment">
            <div>
                <img src="" alt="Клієнт 1">
                <p>Записалася до лікаря через сайт, мені передзвонили, щоб підтвердити запис. Розмовляли ввічливо і
                    відповіли на всі мої запитання про прийом. Це дуже зручно, мені сподобалось.</p>
            </div>
        </div>
        <div class="testimonial">
            <div>
                <img src="https://via.placeholder.com/50" alt="Клієнт 2">
                <p>Звернулась за допомогою у Евідеьс, і отримала чудовий результат. Провели відео-консультацію, я
                    отримала всі відповіді на питання. Дуже зручно!</p>
            </div>
        </div>
        <div class="illustration">
            <img src="https://via.placeholder.com/400x400" alt="Ілюстрація">
        </div>
    </div>

</section>