<section class="reviews" id="reviews">
    <div class="container"> 
        <h2 class="reviews__title">Що говорять наші клієнти</h2>
        <ul class="reviews__rosters">
            <li class="reviews__catalog">
                <div>
                      <picture>
                        <source srcset="../img/desktop/reviews1@1x-desktop.webp 1x, ../img/desktop/reviews1@2x-desktop.webp 2x" media="(min-width: 1280px)">
                        <source srcset="../img/tablet/reviews/reviews-photo1@1x-tablet.webp 1x, ../img/tablet/reviews/reviews-photo1@1x-tablet.webp 2x" media="(min-width: 736px)">
                        <img class="reviews__photo" src="../img/desktop/reviews1@1x-desktop.webp" alt="" />
                      </picture>
                    <div class="reviews__divt">
                        <p class="reviews__text">
                            Записалася до лікаря через сайт, мені передзвонили, щоб підтвердити запис. Розмовляли ввічливо і відповіли на всі мої запитання про прийом. Це дуже зручно, мені сподобалось.
                        </p>
                    </div>
                </div>
                <div> 


                      <picture class="reviews__photos">
                        <source srcset="../img/desktop/reviews2@1x-desktop.webp 1x, ../img/desktop/reviews2@2x-desktop.webp 2x" media="(min-width: 1280px)">
                        <source srcset="../img/tablet/reviews/reviews-photo2@1x-tablet.webp 1x, ../img/tablet/reviews/reviews-photo2@2x-tablet.webp 2x" media="(min-width: 736px)">
                        <img class="reviews__photo" src="../img/desktop/reviews2@1x-desktop.webp" alt="" />
                      </picture>
                    <div class="reviews__divt">
                        <p class="reviews__text">
                            Звернулась за допомогою у Евіденс, і отримала чудовий результат. Провели відео-консультацію, я отримала всі відповіді на питання. Дуже зручно!
                        </p>
                    </div>
                </div>
                <svg class="reviews__icon">
                    <use href="../../image/icons/symbol-defs.svg#icon-arrow"></use> box
                </svg>
            </li>
        </ul>
    </div>
</section>