<section class="reviews">
  <div class="container">
    <h1 class="reviews__title">Що говорять наші клієнти</h1>
    <div class="rewiews__comments">
        <div class="reviews__comment">
            <div>
                <img class="reviews__photo" src="../img/desktop/registration-img1-desktop@1x.jpg" alt="Клієнт 1">
                <p class="reviews__text">Записалася до лікаря через сайт, мені передзвонили, щоб підтвердити запис. Розмовляли ввічливо і відповіли на всі мої запитання про прийом. Це дуже зручно, мені сподобалось.</p>
            </div>
        </div>
        <div class="mention">
            <div>
                <img class="reviews__photo" src="" alt="Клієнт 2">
                <p class="reviews__text">Звернулась за допомогою у Евіденс, і отримала чудовий результат. Провели відео-консультацію, я отримала всі відповіді на питання. Дуже зручно!</p>
            </div>
        </div>
        <div class="rewiews_illustration">
            <img class="rewiews__image"  src="../img/desktop/registration-img2-desktop@1x.jpg" alt="Ілюстрація">
        </div>
    </div>
  </div>
</section>