<section class="services">
    <div class="container">
<h2 class="services__title">Послуги та  вартість</h2>

<ul class="services__list">
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Педіатрія</p>
    </li>
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Вакцинація</p>
    </li>
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Ортопед</p>
    </li>
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Гастроентеролог</p>
    </li>
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Стоматолог</p>
    </li>
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Нефрролог</p>
    </li>
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Кардіолог</p>
    </li>
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Уролог</p>
    </li>
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Лабораторія</p>
    </li>
    <li class="services__item">
        <!-- <svg class="services__svg">
            <use href=""></use>
        </svg> -->
        <p class="services__text">Дивитись ще</p>
    </li>
</ul>

    </div>
</section>